/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:400'); */

@keyframes slide-up-fade {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up-from-bottom-fade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateY(-50px);
    }
}

* {
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #FFF;
}

body {
    background: #541929;
    background: linear-gradient(to top, #541929, #260B1E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 75px;
}

h1 {
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 50px;
    font-weight: 400;
}

h3 {
    font-size: 25px;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    position: relative;
    text-align: center;
}

#body-container {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: slide-up-fade 1s ease-out
}

/* Fucking stupid fix for Firefox */
#body-container.aaa {
    height: 100%
}

#back-to-top {
    position: fixed;
    display: flex;
    bottom: -50px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom left, #FE4B51, #3c0c56);
    background-size: 100px 100px;
    background-position: center center;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    transition: bottom 0.2s ease, opacity 0.2s ease-out;
}

#back-to-top.alive {
    bottom: 25px;
    opacity: 1;
}

#back-to-top * {
    margin: auto;
    opacity: 0.75;
    transition: opacity 0.2s ease-out;
}

#back-to-top:hover * {
    opacity: 1
}

.title {
    padding-bottom: 50px;
    text-transform: uppercase;
}

.subtitle {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    display: block;
    padding-bottom: 50px;
}

.text {
    font-size: 20px;
}

.slide-out {
    animation: slide-up-from-bottom-fade 1s ease-out;
}

.button {
    background: #FFF;
    color: #FE4B51;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    padding: 16px 48px;
    border-radius: 50px;
    transition: box-shadow 0.2s ease-out;
}

.button:hover {
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.25);
}

.links-list {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.links-list li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    padding: 32px 32px 0;
    opacity: 0.5;
    display: block;
    transition: padding-top 0.2s ease-out, padding-bottom 0.2s ease-out, opacity 0.2s ease-out, text-shadow 0.2s ease-out;
}

.links-list li a:hover {
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.faq {
    padding-bottom: 50px;
}

.q {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 10px;
    display: block;
}

.q::before {
    content: 'Q';
    margin-right: 20px;
}

.a {
    font-size: 25px;
}

.a::before {
    content: 'A';
    font-weight: 700;
    margin-right: 30px;
}

.mono {
    background: rgba(0, 0, 0, 0.75);
    padding: 0 5px;
    border-radius: 5px;
    display: inline;
    font-family: 'Space Mono', Courier New, Courier, monospace;
}

.knife {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
}

.back {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.5;
    display: inline-block;
    transition: opacity 0.2s ease-out, text-shadow 0.2s ease-out;
}

.back:hover {
    opacity: 1;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.footer {
    font-size: 20px;
    text-align: center;
}

.sections {
    display: grid;
    min-width: 100%;
    height: 100%;
    margin-top: 50px;
}

.sections.support {
    grid-template-columns: repeat(4, 1fr);
}

.section {
    max-height: 100%;
    max-width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section .name,
.command .name {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.command .name {
    cursor: pointer;
    margin-left: -24px;
}

.command .name::before {
    content: '';
    background-image: url('../img/link.svg');
    background-repeat: no-repeat;
    background-position: -25px center;
    display: block;
    height: 24px;
    width: 24px;
    float: left;
    margin-top: 12px;
    opacity: 0;
    transition: padding 0.2s ease-out, background-position 0.2s ease-out, opacity 0.2s ease-out;
}

.command .name:hover::before {
    background-position: 15px center;
    padding-left: 25px;
    opacity: 1;
}

.section span {
    margin: auto auto 0 auto;
}

.section .button {
    padding: 16px 32px;
}

.commands {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 75px;
}

.command {
    padding-bottom: 50px;
}

#commands-list li {
    float: initial;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

#commands-list li:not(.cmd-category) {
    padding-left: 20px;
}

#commands-list a {
    width: 100%;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    letter-spacing: 2px;
    transition: opacity 0.2s ease-out, text-shadow 0.2s ease-out;
}

#commands-list li:hover a {
    opacity: 1;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.cmd-category > div {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.cmd-category:not(:first-child) {
    margin-top: 25px;
}

.aliases {
    margin-bottom: 25px;
    font-family: 'Space Mono', Courier New, Courier, monospace;
}

.aliases::before {
    content: 'Aliases:\a0\a0';
    font-family: Lato, Arial, Helvetica, sans-serif; 
    font-weight: 700;
}

.usage {
    margin-bottom: 25px;
    font-family: 'Space Mono', Courier New, Courier, monospace;
}

.usage::before {
    content: 'Usage: ';
    font-family: Lato, Arial, Helvetica, sans-serif; 
    font-weight: 700;
}

.aliases + .usage {
    margin-top: -25px;
}

.description {
    line-height: 25px;
}

.examples {
    margin-top: 25px;
}

.example-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.examples > div {
    margin-bottom: 15px;
}

.example {
    margin-left: 15px;
}

/*
   Mobile Devices
                  */

@media only screen and (max-width: 480px) {
    body {
        margin: 25px;
    }

    h1 {
        font-size: 35px;
        text-align: center;
    }

    h2 {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        font-size: 20px;
    }

    .title {
        padding-bottom: 50px;
    }

    .button {
        font-size: 35px;
        text-align: center;
        display: block;
        margin: auto;
        padding: 16px;
        border-radius: 100px;
        max-width: 6em;
    }

    .q {
        font-size: 25px;
    }

    .a {
        font-size: 20px;
    }

    .back {
        font-size: 35px;
        padding: 12px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        font-size: 15px;
    }
    
    .link-lists {
        align-self: center;
        font-size: 20px;
        margin-top: 50px;
    }

    li {
        margin-left: auto;
        margin-right: auto;
    }

    li a {
        padding: 8;
        transition: none;
    }

    li a:hover {
        padding: 8;
    }

    .sections {
        grid-template-columns: 1fr;
    }
}